.about{
    
    &__feature-block{
        margin: 3em 1em;
        display:flex;
        flex-direction:column;
        align-items:stretch;
        flex-basis:50%;
        
        &:nth-child(2){
            position: relative;
            top:10px;
        }

        &>img{
            max-width:9.4rem;
            padding-bottom:10px;
            align-self: center;
        }
        .no-break{
            white-space: nowrap;
        }
    }

    &__feature-desc{
        text-transform:uppercase;
        font-family: "Archivo-SemiBold", sans-serif;
        font-size: 1rem;

        @mixin atMedium{
            font-size:1.23rem;
        }
    }


}