.banner {
    width: 100%;
    height: 40vh;
    margin-top: 3.1rem;
    /* background-image:url('./images/baloons_small.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    &>picture>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 0;

    }


    @mixin atSmall {}

    @mixin atMedium {
        /* background-image:url('./images/baloons.png');*/
        margin-top: 0;
        height: 20rem;



    }

    @mixin atLarge {
        height: 24rem;
    }

    &--tall {
        height: 100vh;
        margin-top: 0;
        position: relative;
        background-image: url('./images/contact_mobile.png');

        @mixin atSmall {
            height: 32rem;
        }

        @mixin atMedium {
            background-image: url('./images/kontakt.png');
            height: 40rem;
        }

        @mixin atLarge {
            height: 45.5rem
        }

        .bgc {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .contact {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(#FFFFFF, 0.8);
            z-index: 10;

            @mixin atMedium {
                width: 55%;
                height: 70%;
            }

            @mixin atLarge {
                width: 45%;
                height: 60%;
            }

            &__details {
                position: absolute;
                width: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                line-height: 2;


                &>img {
                    margin: 0 auto;
                }

                &:after {
                    display: block;
                    content: "";
                    margin: 1em auto;
                    width: 20%;
                    height: 5px;
                    background-color: $mainYellow;

                }

                @mixin atSmall {
                    width: auto;
                }
            }
        }


    }

    &--artists {
        padding: 2em 1.5em 3em;
        background-color: $mainGreen;
        height: auto;

        @mixin atMedium {
            height: 655px;
        }

        @mixin atLarge {
            height: 515px;
        }
    }

}