.footer {
  padding:0 1.25em;
  line-height: 2;

  &__upper {
    padding:1.25em;
    background-color: $mainBlue;
    min-height:100vh;
    display:flex;
        align-items:center;
        align-content:center;

    @mixin atSmall{
      padding: 4rem 0;
      min-height:auto;
      max-height:800px;
    }

    @mixin atMedium{
      padding:0 1.25em;
      
    }
  }

  &__form {
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;

      @mixin atSmall{
        max-width:80%;
      }
   

      &>input{
        text-align:center;
     
      }
    

    @mixin atLarge{
      flex-direction:row;

       &>input{
        text-align:center;
       width:50%;
      }
    }
  }

  &__input {
    display: block;
    border-style: none;
    border-radius: 2rem;
    padding: 1em 4em;
    margin-bottom:1em;
    color:#959595;
    font-family: "Archivo-Regular", sans-serif;
    letter-spacing:1.5px;
    text-transform: uppercase;
    font-size:0.9rem;

      
       @mixin atMedium{
       font-size:1.11rem; 
      }

        @mixin atLarge{
          border-radius: 2rem 0 0 2rem;
          padding: 0 0 0 2.5em;
          margin-bottom:0;
     
        }
  }
  &__logo{
    display:none;

      @mixin atMedium{
        display:block;
        width:470px;
      }
  }
  &__logo>img {
    max-width: 20em;
    height: 100px;
    display: block;
  }

  &__addres{
    margin-top:2em;
    padding-bottom:1em;
    color:#555555;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 1.125rem;
    border-bottom: solid 2px $mainBlue;
    

    @mixin atMedium{
      margin-top:auto;
      padding-bottom: auto;
      border-style:none;
    }

    >a{
      color:#494848;

      
    }

    >p{
      padding:0;
    }
  }

  &--border-top{
    border: solid 2px #ddd;
  }
&__lower{
  max-height:600px;
  position:relative;
}

}