.main-content {
    font-family: "Archivo-Regular", sans-serif;
    line-height: 1.9;
    letter-spacing: 1px;


    @mixin atLarge {
        font-size: 1.3125rem;
    }

    &--slider{
        display: none;
       /*padding: 0 1.5em;
       line-height: 1.9;
       font-size:0.85rem;

       @mixin atSmall{
           font-size:1.1rem;
           padding: 0 1.5em;
       } */

       @mixin atMedium{
           display:block;
           font-size:1.3rem;
           padding: 0 1.5em;
           
       }

       @mixin atLarge {
        font-size: 1.5rem;
    }
    }

    &--full-width{
        max-width:66rem;
        margin:0 auto;
        text-align:center;
    }

    &--sm-center{
        text-align:center;
        margin-bottom:2.5em;

        @mixin atMedium{
            text-align:left;
            margin-bottom:0;
        }
    }
}